/* css */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(189, 196, 197);
    color: rgb(32, 36, 56);
    margin: 0;
}

/*Barra de Navegação*/

#menu-nav {    
    background-color: rgb(122, 141, 163);
}

.img-voice {    
    width: 12%;
    margin: 1.59%;    
}

a {
    text-decoration: none;
    color: turquoise;
    font-weight: bold;
    text-transform: uppercase; /*letra maiscula*/
}

a:hover {
    background-color: teal;
    padding: 10px;
}

nav {
    position: absolute;
    top: 11.70%;
    right: 1.06%;
    margin: 0 2.12% 0 0;
}

nav li {
    display: inline;
    margin: 0 15px 0 20px;
}

/*Conteúdo Principal*/

h1 {    
    color: rgb(22, 33, 95);
    text-align: center;  
    font-size:xx-large;  
}

.main-inf {
    margin: 2.12%;
    text-align:justify;    
}

#how-use {
    text-align: left;    
    font-weight: bolder;
    margin-left: 2.12%;
}

ol li {
    line-height: 20px;
    margin-left: 10px;
}

h4 {
    margin-left: 2.12%;
}

/*footer*/

.copyright {
    text-align: center;
    padding: 2.12%;    
    background-color: rgb(122, 141, 163);
    margin: 0;
}

/*Página Cifrar*/

form {
    margin-left: 400px;
    margin-top: 2.12%;
    margin-bottom: 2.12%;
}

#secret-key {
    height: 2.12%;
    margin-bottom: 15px;
    cursor:row-resize;
}

form label {
    width: 350px;
    padding: 5px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(37, 37, 65);   
}

#encrypt, #decrypt, .send {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;  
    margin-left: 10px;  
}

#encrypt:hover, #decrypt:hover, .send:hover {
    background-color: teal;
    padding: 10px;
    color: white;
} 

.msg-field {
    resize: none;
    border-radius: 10px;    
}


/*Página Decifrar*/

 